# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: ${{ matrix.title }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - title: Java 17 # minimally supported version, set the same in gradle.properties
            java: 17
          - title: Java 21
            java: 21
          - title: Java 25
            java: 25
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew -PjavaVersion=${{ matrix.java }} build
      - name: Collect mutation testing report
        run: mkdir mutation-testing-report && cp -r build/reports/pitest/* mutation-testing-report
      - name: Archive mutation testing results
        uses: actions/upload-artifact@v6
        with:
          name: mutation-testing-report-${{ matrix.java }}
          path: mutation-testing-report
